site_name: Hyperdrive Design
site_url: https://hyperdrivedesign.com

theme:
  name: material

  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: cyan

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: cyan

  font:
    text: Roboto
    code: JetBrains Mono

  logo: /assets/logo.svg
  favicon: /assets/favicon.svg


